.nowrap {
  text-wrap: nowrap;
}

.fs-7 {
  font-size: 0.92rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.link-pers {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}

.link-pers:hover {
  color: #efefef;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-royalblue {
  color: #4169e1;
}

#brand {
  color: #ff0000;
  font-weight: 600;
}

.brand-name-span {
  color: #343a40;
}

/* Animaciones */

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.icon-animate {
  animation: pop 0.3s ease;
}

/* Toast de Bienvenida */

#welcomeToast.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* Clase para evitar la animacion del like cuando la sesión no esta activa */
.btn-no-action {
  pointer-events: none; /* bloquea click, hover y focus */
  user-select: none;
  opacity: 0.7;
  outline: none !important;
  box-shadow: none !important;
  cursor: not-allowed;
}
