:root {
  /* Colors */
  --undefined: undefined;

  /* Fonts */
  --undefined-font-family: BeVietnamPro-Bold, sans-serif;
  --undefined-font-size: 14px;
  --undefined-line-height: normal;
  --undefined-font-weight: 700;
  --undefined-font-style: normal;
  --undefined-font-family: BeVietnamPro-Bold, sans-serif;
  --undefined-font-size: 14px;
  --undefined-line-height: normal;
  --undefined-font-weight: 700;
  --undefined-font-style: normal;
  --undefined-font-family: BeVietnamPro-Bold, sans-serif;
  --undefined-font-size: 14px;
  --undefined-line-height: normal;
  --undefined-font-weight: 700;
  --undefined-font-style: normal;

  /* Effects */
}