<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/vars.css}" />
  </head>
  <body>
    <h1>Bienvenido a mi aplicación</h1>

    <header>
      <nav>
        <ul>
          <li>Inicio</li>
          <li>General</li>
          <li>Tech</li>
          <li>VideoGames</li>
          <li>Anime</li>
        </ul>
      </nav>
    </header>

    <header>
      <div class="container">
        <img class="huge-icon" src="huge-icon0.svg" />
        <div class="rectangle-1"></div>
        <button class="se-connecter">Se connecter</button>
        <div class="rejoindre-la-communaut">Rejoindre la communauté</div>
        <div class="rectangle-2">
          <input type="text" />
        </div>
        <img class="huge-icon2" src="huge-icon1.svg" />
        <div class="rechercher-sur-talk-space">Rechercher sur TalkSpace</div>
        <div class="talk">Talk</div>
        <div class="space">Space</div>
      </div>
    </header>
    <!--  -->

    <main></main>
  </body>
</html>
